{% extends 'blog/base.html' %}

{% block content %}

<h2>About</h2>
<div class="media-content">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Nostrum illum debitis incidunt cupiditate odit adipisci commodi quidem hic perspiciatis soluta assumenda
        laboriosam quae molestiae beatae praesentium,
        rem blanditiis! Mollitia, eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Porro cupiditate pariatur soluta eaque harum mollitia omnis odio vitae odit minus error,
        tempora dolores temporibus ex optio, explicabo perferendis ullam accusantium!</p>
</div>
<div>
    <a class="btn btn-info mb-4" href="{% url 'contact' %}">Contact Us</a>
</div>

{% endblock content %}